.externalLink{
    border: 1px solid;
    padding: 10.5px 16px;
    border-radius: 8px;
    width: fit-content; /* Faz a div utiizar apenas o espaço do conteúdo*/
}

.link{
    color: black;
    text-decoration: underline;
}