.footer{
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    position: absolute;
    right: 10px;
    left: 10px;

}

.button{
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}

.links{
    display: flex;
    gap: 5px;
    height: fit-content;
}